*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.navbar-large{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3781f5;
    height: 50px;
    width: 100%;
}
.navbar-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 70%;
}
.navbar-menu a{
    display: inline-block;
    color: white;
    padding: 10px;
    text-decoration: none;
    /* margin-left: 10px; */
}
.navbar-logo{
    width: 30%;
}
.navbar-sm{
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3781f5;

}
.navbar-container{
    display: flex;
    justify-content: space-between;    
}
.navbar-sm-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* transition: display 2s  linear; */

}
@media (max-width: 768px) {
    .navbar-sm {
		display: flex;
	}
	.navbar-large {
		display: none;
	}
}
.active{
        display: flex;
}